.page{
	position: fixed;
	bottom: 50px;
	padding-left: 20%;
}

.page a{
	border: solid 1.5px;
	border-radius: 7.5px;
	margin-right: 5px;
	padding: 3.5px 3.5px; 
}

.page .active{
	background-color: blue;
	color: white;
}