<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}快菜管理平台主页{% endblock %}</title>
    <script rel="text/javascript" src="{{ url_for('static', filename='jquery-3.3.1.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-3.3.7/css/bootstrap.min.css') }}" type="text/css">
    <script rel="text/javascript" src="{{ url_for('static', filename='bootstrap-3.3.7/js/bootstrap.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='manage_index.css') }}" type="text/css">
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <span style="color: black;font-size: 20px; ">快菜管理后台</span>
        </div>
        <div class="nav navbar-nav navbar-right" style="margin-right: 10px;">
          当前管理员{{ current_user.name }}  <a href="{{ url_for('auth.logout') }}" style="margin-left: 10px;">退出</a>
        </div>
      </div> 
    </nav>
    <div class="side-menu">
      <ul class="nav nav-pills nav-stacked navbar-fixed-left" style="display: block;">
        <li><a href="{{ url_for('menu.show_menu') }}?page=1">菜品管理</a></li>
        <li><a href="{{ url_for('admin.show_admin') }}?page=1">管理员管理</a></li>
        <li><a href="#">送餐员管理</a></li>
        <li><a href="{{ url_for('order.show_order') }}?page=1">订单管理</a></li>
      </ul>
    </div>
    {% block body %}
      <h1 style="margin: 300px 500px;">工期一，紧张施工中。。。</h1>
    {% endblock %}
  </body>
  {% block scripts%}
  {% endblock %} 
</html>